* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainHeading {
    margin-bottom: 30px;
}

.mainHeading h1{
    text-shadow: 0px 5px 8px #026824;
    font-size: 42px;
}

.box1 ul {
    display: flex;
    margin-bottom: 20px;
}

.box1 ul li {
    width: 120px;
    text-align: center;
    list-style-type: none;
    margin-left: 20px;
    background-color: transparent;
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}
.box1 ul li:hover,
.box1 ul li:visited,
.box1 ul li:focus {
    background-color: #000000;
    color: #ffffff;
    border-radius: 15px;
    transition: 200ms linear;
    font-weight: bold;
    border: none;
}

.active {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    /* transition: 200ms linear; */
    font-weight: bold !important;
    border: none !important
}


.box2 {
    min-width: 320px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 60px 90px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.box2 h1 {
    text-align: center;
}

.box2 h2 {
    margin-top: 30px;
}

.bgChangerBtn {
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    font-weight: 600;
    background-color: blue;
    cursor: pointer;
}

.bgChangerBtn:hover,
.bgChangerBtn:focus {
    background-color: aqua;
    color: black;
    transition: 250ms linear;
    transform: translateY(-5px);
}

