* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bebebe;
}

.mainHeading {
    margin-bottom: 30px;
}

.mainHeading h1{
    text-shadow: 0px 10px 10px #e4e714;
    font-size: 42px;
    color: #ffffff;
}

.box1 ul {
    display: flex;
    margin-bottom: 20px;
}

.box1 ul li {
    width: 120px;
    text-align: center;
    list-style-type: none;
    margin-left: 20px;
    background-color: transparent;
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 30px;
    cursor: pointer;
}

.active {
    background-color: #ffffff !important;
    color: #000000 !important;
    border-radius: 15px !important;
    transition: 200ms linear !important;
    font-weight: bold !important;
    border: none !important;
}

#hexCodeWrapper {
    display: none;
}


.box2 {
    /* min-width: 320px;
    max-width: 1440px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    padding: 60px 90px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: -6px -6px 10px rgb(80, 80, 80), 6px 6px 10px rgb(80, 80, 80);
}

.box2 h1 {
    text-align: center;
}

.box2 h2 {
    margin-top: 30px;
    text-align: center;
}

.box2 button {
    margin-top: 30px;
    padding: 10px;
    border-radius: 30px;
    font-weight: 600;
    background-color: blue;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    left: 35%;
}

.box2 button:hover,
.box2 button:focus {
    background-color: aqua;
    color: black;
    transition: 250ms linear;
    transform: translateY(-5px);
}


/* Smartphones */
@media only screen and (max-width: 425px) {
    .box2 {
        padding: 60px 40px;
    }
    .box1 ul li {
        width: 100px;
        font-size: 12px;
        margin-left: 10px;
    }
}

